/.conda
/.vscode
/SSL
/__pycache__

# 数据库文件
database.db
*.db
*.sqlite
*.sqlite3

# 日志文件
app.log
*.log
logs/

# Python生成的文件
*.pyc
*.pyo
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
venv/
env/
ENV/

# 其他
/db_backup/
/db_control/
UpdateSSL.bat
UpdateDB.bat
create_admin.py

.env
.DS_Store