@font-face {
    font-family: 'Technonomicon';
    src: url('../font/Technonomicon.ttf');
}

@font-face {
    font-family: 'valorax';
    src: url('../font/valorax-lg25v.ttf');
}

@font-face {
    font-family: 'ZhouSi';
    src: url('../font/ZiWanZhouSi.ttf');
}

@font-face {
    font-family: 'LengKu';
    src: url('../font/ZhengQingKeLengKu.ttf');
}