<!DOCTYPE html>
<html>
<head>
    <title>Joe的个人小站 | 档案馆</title>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/font.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/html-style/oc_introduce.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/animations/animation-oc_introduce.css' ) }}">
    <link rel="icon" href="{{ url_for('static',filename = 'images/favicon.ico' ) }}">
</head>
<body>
    <div class="CenterContainer">
        <h1 id="title">• 档案馆</h1>
        <div class="MainContainer">
            <div id="sidebar">
                <ul>
                    {% for title in titleList %}
                    <li class="TextTitle" onclick="showInfo('{{loop.index}} {{title}}')">{{title}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="output"></div>
        </div>
    </div>
    <script>
        function showInfo(item) {
            fetch('/find_text', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ textType:'oc_introduce',title : item })
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('output').innerText = data.text;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
</body>
</html>